/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*variable declearations*/
:root{
  ---primary:#e52165;
  ---primary-light:#e521668a;
  ---secondary:#131417;
  ---secondary-light:#131417a8;
}
::selection{
  background-color: var(---primary);
  color: var(---secondary);
}
.fa-bars {
  color: black;
}


/* Remove browser style*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}
/*common styles*/
.btn {
  color: white;
  display: inline-block;
  background-color: var(---primary);
  padding: 10px 10px;
  transition: 300ms;
}
.btn:hover {
  transform: translateY(-10px);
  
}

.flex-design{
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

/* styles*/

header {
     min-height: 100vh;
     background:url(eee.png);
     background-size: cover;
     position: relative;
}
.header-content{
  padding: 0 2rem;
  background-color: lightpink;
  height: 12vh;
}
.logo{
  height: 60px;
}
.nav-links {
  width: 60%;
}
.nav-links a{
  color:white;

}
.nav-links li::after {
  content: '';
  display: block;
  background-color: var(---primary);
  height: 2px;
  width: 0%;
  transform: scaleX(0);
  transition:width 0.3s;
}
.nav-links li:hover:after {
  width: 100%;
transform: scaleX(1);
}
.burger {
  display: none;
  cursor: pointer;
}
.text-center {
  color:gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  transition: all 300ms;
}
.text-center h1{
margin: 1.5rem 0;
}

.content {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.mb{
  margin-bottom: 3rem;
}
.mt{
  margin-top: 5rem;

}
.heading{
  text-align: center;
  margin-bottom: 2rem;
}
.wwa-box{
  background-color: var(---primary);
  padding: 20px;
  margin-left: 10px;
  text-align: center;
  color: white;
}
.wwa-box h3{
  margin-bottom: 5px;

}
.wwa-box:first-child{
  margin-left: 0px;
}
@media only screen and (max-width: 650px) {
  .nav-links {
    /*display: none;*/
    position: absolute;
    flex-direction: column;
    background-color: var(---secondary-light);
    right: -10rem;
    top: 10vh;
    height: 50vh;
    width: 0%;
    padding: 1.5rem o;
    transition: all 400ms;
  }
}
@media only screen and (max-width: 650px) {
  .header {
    width:650 px;
    height:315 px;
  }}

@media only screen and (max-width: 650px) {
  .logo{
    position: relative;
    height: 60px;
    width: 45px;
    margin-left: 0px;
  }
}
.burger {
 display: block;

}
.nav-show {
      width: 100%;
      right: 0px;
}
.textareahide{
    left: -15rem;
}

.wwa-box:hover {
  box-shadow: 3px 5px 11px 0px black;
}
.course_img{
  position: relative;
}
.course_img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0,1);
  transform-origin:right;
  transition: transform 300ms;
  background-color: rgba(0, 0, 0, 0.53);
  }
  .course:hover .course_img::after{
    transform: scale(1);
    transform-origin: left;
  }
  .course{
    position: relative;
  }
  .course_content{
    position: absolute;
    top: 80%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    font-size: 1.5rem;
    transition: top 300ms,opacity 350ms;
  transition-delay: 200ms;
  }
  .course:hover .course_content{
    top: 50%;
    font-size: 0.5rem;
    opacity: 1;
  }
  
  .course_content{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(autofit,minmax(300px,1fr));
  }
  /*media quaries*/
@media all and (max-width: 894px){
  .text-center{
    width: 100%;
  }
  }
  @media all and (max-width: 858px){
    .wwa-content{
      flex-direction: column;
    }
  }
  
  .course:hover .course_content {
    top: 50%;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer{
  background-color: #111;
}
.footercontainer{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialicons{
  display: flex;
  justify-content: center;

}
.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialicons a i {
  font-size: 2em;
  color: black;
  opacity: 0.9;
}
/*Hower Effect on social media Icons*/
.socialicons a:hover i{
  color: white;
  transition: 0.5ms;
}
.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  justify-content: center;
   list-style-type:nonedisc;
}
.footernav ul li a{
color: white;
margin: 20px;
text-decoration: none;
font-size: 1.3em;
opacity: 0.7;
transition: 0.5s;
}
.footernav ul li a:hover{
  opacity: 1;
}
.footerbottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerbottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}
@media (max-width: 700px){
  .footernav ul{
      flex-direction: column;
  }
  .footernav ul li a{
      width: 100%;
      text-align: center;
      margin: 10px;
  }
}
